•{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



:root {
  --main-blue:#2196F3;
 
  --paragraph-description:#757575 ;
  --font-black:#212121;
--white:#ffffff;

}



body {
  background: #FFFFFF;
  font-family:'Roboto', sans-serif;
}


.logo{
  color:var(--main-blue);
  font-weight: 700;
  font-size: 26px;
  font family:'Raleway', sans-serif;
}
.logo2 {
  color:#FFFFFF;
  font:'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  
}

.main-description{
  background:#2F303A ;
  text-align:center;
  padding:200px 452px 280px 452px ;
}

.text-main{
  color:#FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height:1.36;
  text-align: center ;
  letter-spacing: 0.06em ;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px

}

.button-description { 
background-color: #2196F3;
color:#ffffff;
font-weight:700 ;
font-size:16px;
line-height:1.88;
cursor: pointer;
letter-spacing: 0.06em;
text-align: center;
min-width: 200px;
border:none;
border-radius: 4px;
padding: 10px 42px ;
}

section{
  padding-top:94px ;
  padding-bottom: 94px;
}




  .container{
    width:1200px ;p
    margin:0;
    
  }

h3{
color:var(--font-black);
font-size: 18px;
font-weight: 700;
}

p{
  color:var(--paragraph-description);
  font-size: 16px;
}

.lorem-ipsum-description{
    color:var(--paragraph-description);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
  
  }

h4{ 
  color: var(--font-black);
  font-weight:700;
  font-size: 14px;
 


}
.lorem-ipsum{
  color: var(--font-black);
  font-weight:700;
  font-size: 14px;
   letter-spacing:0.03em;
  line-height:1.1;
  margin-top: 0;
  margin-bottom 10px;;
}

.what-we-do{
  list-style: none;
  display: flex;
 
justify-content: space-around;
 gap:15px;

}
.button-link {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  color:var(--font-black);
  border: #f5f4fa;
}

.button-link:hover,
.button-link:focus{
  background: #2196f3;
  color:#FFFFFF;
}

.header-link{
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  
  letter-spacing: 0.02em;
}
a{
  text-decoration:none ;

}
.header-link:hover,
.header-link:focus{
  color:#2196f3
}
.header-contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;

}
.header-contact:hover,
.header-contact:focus{
  color: #2196f3;

}

.footer-description {
  background:#2F303A; 
}
.adres-description
{color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal; 
}

.ul-description {
  list-style: none;
  margin-top: 0 ;
margin-bottom: 0;
padding: 0;
display: flex;
gap:40px;

}